# Kafka
KAFKA_BROKER=kafka:9092
KAFKA_CDC_TOPIC=kafka-topic-name

# Spark
SPARK_APP_NAME=SparkKafkaApp
SPARK_MASTER=spark://spark-master:7077

# Elasticsearch
ES_NODES=elasticsearch
ES_PORT=9200
ES_SSL=false
ES_WAN_ONLY=true